body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.score-container {
  height: 40px;
  width: 60%;
  border: 1px solid #ece5e5;
  margin: 20px auto;
  border-radius: 2px;
}

.score-amount {
  height: 100%;
  border-radius: 2px;
}

.score-red {
  background-color: #234da7;
}

.score-green {
  background-color: #adeaad;
}